---
# Default pod options
defaultPodOptions:
  automountServiceAccountToken: false
  securityContext:
    runAsUser: 10001
    runAsGroup: 10001
    fsGroup: 10001
    fsGroupChangePolicy: OnRootMismatch

# Controllers
controllers:
  main:
    type: deployment
    replicas: 1
    
    containers:
      main:
        image:
          repository: CHANGEME
          tag: CHANGEME
          pullPolicy: IfNotPresent
        
        env: {}
        
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 512Mi
        
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5

# Services
service:
  main:
    controller: main
    ports:
      http:
        port: 80

# Ingress
ingress:
  main:
    enabled: false
    className: nginx
    hosts:
      - host: chart-example.local
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http

# Persistence
persistence:
  config:
    enabled: false
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config
